/* font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;600;700;800;900&display=swap');

/* variable */
:root{
    /* media break point */
    --mobile-bp : 768px;
    --desktop-bp : 992px;
    /* colors */
    --blue : #0065FC;
    --light-blue : #DEEBFF;
    --gray :#F2F2F2;
    /* font size*/
    --fs: 16px;
}
/* set */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
body{
    font-weight: 300;
    background: white;
    color: black;
}
a{
    color: black;
}
a:hover,a:visited,a:active{
    text-decoration: none;
}
h2,p{
    margin-bottom: 5px;
}
h2,h3,input{
    font-weight: 600;
    font-size: 16px;
}
nav,header,main{
    margin: 0 2.5%;
}
 /* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}
nav a img{
    width: 113.297px;
    height: 53.391px;
    margin-left: 15px
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul a {
    padding: 42px 15px;
}
.active{
    color: var(--blue);
    border-top: 5px solid var(--blue);
}

/* form location (header)*/

header form{
    display: flex;
    flex-wrap: nowrap;
    height: 52px;
    margin: 15px 0;
}
header form label{
    width: 55px;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
header form label svg{
    width: 16.500px;
}
header form input#location{
    border: 1px solid var(--gray);
    padding-left: 5px;
    outline-style: none;
    color: black;
}
header form input#location::placeholder{
    color: black;
}
header form input#search{
    cursor: pointer;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--blue);
    color: white;
    padding: 0 15px;
}

/* FILTERS form */
form#filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#filter >* {
    margin-right: 35px;
}
.filter-items input{
    display: none;
}
.filter-items label{
    cursor: pointer;
    display: inline-block;
    display: flex;
    align-items: center;
    border: 1px solid var(--light-blue);
    border-radius: 50px;
    height: 50px;
    padding-right: 15px;
    margin-bottom: 15px;
}
.filter-items label:hover{
    background-color: var(--blue);
    color: white;
    border: 2px solid var(--light-blue);
}
.filter-items label svg{
    width: 56.766px;
    padding: 12px;
    border-radius: 66%;
    background-color: var(--light-blue);
    max-height: 50px;
    margin-left: -0.5px;
    margin-right: 10px;
}
